

<h2>Welcometo your tasks!</h2>

<p>Today <%= Date.today %></p>

<%= link_to "Tasks", tasks_path %>


<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name.capitalize, task_path(id: task.id) %> =>
      <%= task.description %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>

